{% extends "homebase.html" %}
{% load static %}
{% block title %}Galeri - {{ setting.title }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <!-- bradcam_area -->

    <div class="bradcam_area">
        <div class="single_bradcam  d-flex align-items-center bradcam_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9">
                        <div class="bradcam_text text-center">
                            <h3>GALERİ</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area end -->

    <!-- gallery_start -->
    <div class="gallery_area">
        <div class="single_gallery big_img">
            <div class="hover_pop">
                <a class="popup-image" href="{% static 'img/gallery/2.png' %}">
                    <i class="ti-plus"></i>
                </a>
            </div>
            <img src="{% static 'img/gallery/1.png' %}" alt="">
        </div>
        <div class="single_gallery big_img">
            <div class="hover_pop">
                <a class="popup-image" href="{% static 'img/gallery/2.png' %}">
                    <i class="ti-plus"></i>
                </a>
            </div>
            <img src="{% static 'img/gallery/2.png' %}" alt="">
        </div>
        <div class="single_gallery small_img">
            <div class="hover_pop">
                <a class="popup-image" href="{% static 'img/gallery/3.png' %}">
                    <i class="ti-plus"></i>
                </a>
            </div>
            <img src="{% static 'img/gallery/3.png' %}" alt="">
        </div>
        <div class="single_gallery small_img">
            <div class="hover_pop">
                <a class="popup-image" href="{% static 'img/gallery/4.png' %}">
                    <i class="ti-plus"></i>
                </a>
            </div>
            <img src="{% static 'img/gallery/4.png' %}" alt="">
        </div>
        <div class="single_gallery big_img">
            <div class="hover_pop">
                <a class="popup-image" href="{% static 'img/gallery/5.png' %}">
                    <i class="ti-plus"></i>
                </a>
            </div>
            <img src="{% static 'img/gallery/5.png' %}" alt="">
        </div>
        <div class="single_gallery big_img">
            <div class="hover_pop">
                <a class="popup-image" href="{{ rs.image.url }}">
                    <i class="ti-plus"></i>
                </a>
            </div>
            <img src="{% static 'img/gallery/6.png' %}" alt="">
        </div>
    </div>

    <!-- gallery_area_end  -->
    <a href="/" class="view_pore boxed-btn3">ANASAYFA</a>
    <div class="priscing_area">
        <div class="container">
            <div class="row">
                {% for rs in resimler %}
                    <div class="col-lg-4 col-md-6">
                        <font color="#dc143c">< {{ rs.title }} ></font>
                        &ensp;<font color="#66cdaa">için resme tıklayınız.</font>
                        <div class="single_prising text-center">
                            <ul>
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}"><img style="width:192px; height:192px;" src="{{ rs.image.url }}"></a>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- emraheroglu -->

{% endblock %}