{% extends "homebase.html" %}
{% load static %}
{% block title %}İletişim - {{ setting.title }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}

    <!-- bradcam_area -->
    <div class="bradcam_area">
        <div class="single_bradcam  d-flex align-items-center bradcam_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9">
                        <div class="bradcam_text text-center">
                            <h3>İLETİŞİM</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area end -->
    <div class="whole-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mt-sm-20">
                    <br><p>{{ setting.contact|safe }}</p>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="span4">
                        <h2 class="title" style="color: #c0392b">BİZE YAZIN</h2>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="SEND FORM">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}