<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget post_category_widget">
            <h4>{{ user.first_name }} {{ user.last_name }} ({{ user }})</h4>
            <ul class="list cat-list">
                <li><a href="/user" class="d-flex"><p>BİLGİLERİM</p></a></li>
                <li><a href="/user/memberships" class="d-flex"><p>ÜYELİKLERİM</p></a></li>
                <li><a href="/user/comments" class="d-flex"><p>YAPTIĞIM YORUMLAR</p></a></li>
                <li><a href="/fiyatlar" class="d-flex"><p>ÜYELİK SATIN AL</p></a></li>
                <li><a href="/logout" class="d-flex"><p>ÇIKIŞ</p></a></li>
            </ul>
        </aside>
    </div>
</div>